<h1><%= @place["name"] %></h1>

<div class="d-grid gap-2 d-md-block">
  <% if @current_user != nil %>
  <a href="/posts/new?place_id=<% @place["id"] %>" class = "btn btn-outline-primary">New Post</button></a>
  <% end %>
</div>


<% for post in @posts %>
  <h3><%= post["title"] %></h3>
  <h4><%= post["posted_on"] %></h4>
  <p><%= post["description"] %></p>
<% end %>

<p>
  <a href="/places" class="btn btn-outline-primary .text-nowrap">Back to Places</a>
</p>